*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(238, 238, 225);
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 2vw;

}

.foto-album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-album {
    width: 300px;
    height: 300px;
    border: 10px solid rgb(249, 244, 244);
    box-shadow: 5px 5px 3px rgb(232, 177, 186); 
    transition: transform .3s;
}

.foto-album:hover{
    transform: scale(1.3);
}

h1{
    font-family: 'Creepster', cursive;
    background-color: rgb(232, 177, 186);
}

header {
    text-align: center;
}

footer {
    display: block;
    position: static;
    left: 0;
    width: 100%;
    bottom: 0vh;
    background-color: rgb(232, 177, 186);
    text-align: center;
    padding: 10px 0;
}